body
  .row
    .container.col-lg-4.col-lg-offset-4
      h2 style=("text-align: center;")
        | Admin Login

      = form_for(resource, as: resource_name, url: session_path(resource_name), :class => "login-form") do |f|
        .form-group
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "E-mail"
        .form-group
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-lock
              i.fa.fa-lock
            = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"

        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me

          .actions
            = f.submit "Submit"

      = render "devise/shared/links"
