= form_for @bank do |f|
  -if @bank.errors.any?
    #error_explanation
      h2 = "#{pluralize(@bank.errors.count, "error")} prohibited this bank from being saved:"
      ul
        - @bank.errors.full_messages.each do |msg|
          li= msg

  .container
    .row
      .col-lg-4
        .form-group
          = f.label "Bank Name"
          br
          = f.text_field :bank_name, :size=>"40"
        .form-group
          = f.label "Bank Number"
          br
          = f.text_field :bank_number, :size=>"40"
        button.btn.btn-primary
          | Save
          /= f.submit 'Save'
