/= stylesheet_link_tag "banks"

div.banks
  h1.banks
    | Listing currently supported banks

  button.btn.btn-secondary.btn-lg.active
    = link_to 'Register a new Bank', new_bank_path

  table.table.table-striped.table-hover
    thead.thead-dark
      tr
        th.banks
          | Bank name
        th.banks
          | Bank number
        th
        th
        th

    tbody
    - @banks.each do |bank|
      tr
        td.banks
          = bank.bank_name
        td.banks
          = bank.bank_number
        td
          button.btn.btn-default
            = link_to 'Show', bank
        td
          button.btn.btn-default
            = link_to 'Edit', edit_bank_path(bank)
        td
          button.btn.btn-default
            = link_to 'Remove', bank, :confirm => 'Are you sure?', :method => :delete

  br


