.home
  h1.center
    | This is my homepage
  p.size
    | Since you're logged in, you must be an admin, so you can register new banks, new agencies, new accounts and new operations. You can edit the details, create and destroy elements.
    | Since you're logged in, you must be an admin, so you can register new banks, new agencies, new accounts and new operations. You can edit the details, create and destroy elements.
  br