.container style=("margin-top: 50px;")
  = form_for @agency do |f|
    -if @agency.errors.any?
      #error_explanation
        h2 = "#{pluralize(@agency.errors.count, "error")} prohibited this agency from being saved:"
        ul
          - @agency.errors.full_messages.each do |msg|
            li= msg

    .form-group
      = f.label :bank_name
      = collection_select :agency, :bank_id, Bank.all, :id, :name_with_number

    .form-group
      = f.label "Agency Name"
      = f.text_field :ag_name

    .form-group
      = f.label "Agency Number"
      = f.text_field :ag_number

    .form-group
      = f.label "Agency Address"
      = f.text_field :ag_address

    .actions
      = f.submit 'Save'
