div.agencies
  h1.agencies
    | Listing currently registered agencies

  button.btn.btn-dark.btn-lg.active
    = link_to 'Register a new Agency', new_agency_path

  table.table.table-striped.table-hover
    thead.thead-dark
      tr
        th.agencies
          | Bank
        th.agencies
          | Agency Name
        th.agencies
          | Agency Number
        th.agencies
          | Agency Address
        th
        th
        th

    tbody
      - @agencies.each do |agency|
        tr
          td.agencies
            = agency.bank.name_with_number
          td.agencies
            = agency.ag_name
          td.agencies
            = agency.ag_number
          td.agencies
            = agency.ag_address
          td
            button.btn.btn-default
              = link_to 'Show', agency
          td
            button.btn.btn-default
              = link_to 'Edit', edit_agency_path(agency)
          td
            button.btn.btn-default
              = link_to 'Delete', agency, :confirm => 'Are you sure?', :method => :delete
