p#notice = notice

p
  b Bank:
  = " #{@agency.bank.name_with_number}"
p
  b Agency Name:
  = " #{@agency.ag_name}"
p
  b Agency Number:
  = " #{@agency.ag_number}"
p
  b Agency Address:
  = " #{@agency.ag_address}"

= link_to 'Edit', edit_agency_path(@agency)
'|
= link_to 'Back', agencies_path
