// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accounts {
  font-family: Candara;
  text-align: center;
}

h1.accounts {
  margin-bottom: 5%;
}

p.accounts {
  font-size: 120%;
}

th.accounts {
  display: table-cell;
  text-align: center;
  vertical-align: center;
  font-size: 130%;
  padding: 10px 10px;
}

td.accounts {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Candara;
  font-size: 120%;
}