// Place all the styles related to the Agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.agencies {
  text-align: center;
  font-family: Candara;
}

h1.agencies {
  margin-bottom: 5%;
}

.thead-dark {
  background-color: #000;
  color: #fff;
}

th.agencies {
  display: table-cell;
  text-align: center;
  vertical-align: center;
  font-size: 130%;
  padding: 10px 10px;
}

td.agencies {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Candara;
  font-size: 120%;
}

p.agencies {
  font-family: Candara;
  font-size: 110%;
  text-align: center;
}