// Place all the styles related to the Banks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banks {
  font-family: Candara;
  text-align: center;
}

h1.banks {
  margin-bottom: 5%;
}

p.banks {
  font-family: Candara;
  font-size: 120%;
  text-align: center;
}

.table {
  margin-top: 1%;
}

.thead-dark {
  background-color: #000;
  color: #fff;
}

th.banks {
  display: table-cell;
  text-align: center;
  vertical-align: center;
  font-size: 130%;
  padding: 10px 10px;
}

td.banks {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Candara;
  font-size: 120%;
}