// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 .center {
   font-family: Candara;
   font-size: 200%;
   text-align: center;
   margin-bottom: 1%;
 }

 .size {
   line-height: 100%;
   font-size: 150%;
   font-family: Candara;
   text-align: justify;
 }