// Place all the styles related to the Operations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.operations {
  font-family: Candara;
  text-align: center;
}

h1.operations {
  margin-bottom: 5%;
}

p.operations {
  font-size: 120%;
}

th.operations {
  display: table-cell;
  text-align: center;
  vertical-align: center;
  font-size: 130%;
  padding: 10px 10px;
}

td.operations {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Candara;
  font-size: 120%;
}