= form_for @account do |f|
  -if @account.errors.any?
    #error_explanation
      h2 = "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      ul
        - @account.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label "Agency Number"
    = collection_select :account, :agency_id, Agency.all, :id, :number_with_bank

  .field
    = f.label "Account Number"
    br
    = f.text_field :acc_number

  .field
    = f.label "Account Limit"
    br
    = f.text_field :acc_limit

  button.btn.btn-primary
    | Save
    /= f.submit 'Save'
