div.accounts
  h1.accounts
    | Listing currently registered accounts

  button.btn.btn-dark.btn-lg.active
    = link_to 'Register a new Account', new_account_path

  table.table.table-striped.table-hover
    thead.thead-dark
      tr
        th.accounts
          | Agency Number
        th.accounts
          | Account Number
        th.accounts
          | Account Balance
        th
        th
        th

    tbody
      - @accounts.each do |account|
        tr
          td.accounts
            = account.agency.number_with_bank
          td.accounts
            = account.acc_number
          td.accounts
            = "$#{account.acc_limit}"
          td
            button.btn.btn-default
              = link_to 'Show', account
          td
            a href="#{edit_account_path(account)}"
              button.btn.btn-default
                | Edit
                /= link_to 'Edit', edit_account_path(account)
          td
            button.btn.btn-default
              = link_to 'Delete', account, :confirm => 'Are you sure?', :method => :delete

