p#notice = notice

p
  b Agency Number:
  = " #{@account.agency.ag_number}"
p
  b Account Number:
  = " #{@account.acc_number}"
p
  b Account Balance:
  = " #{@account.acc_limit}"

= link_to 'Edit', edit_account_path(@account)
'|
= link_to 'Back', accounts_path
