= form_for @operation do |f|
  -if @operation.errors.any?
    #error_explanation
      h2 = "#{pluralize(@operation.errors.count, "error")} prohibited this operation from being saved:"
      ul
        - @operation.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label "Sender Account"
    = collection_select :operation, :initial_account_id, @accounts, :id, :acc_number, {include_blank: "Select Option"}
  .field
    = f.label "Receiver Account"
    = collection_select :operation, :final_account_id, @accounts, :id, :acc_number, {include_blank: "Select Option"}
  .field
    = f.label "Type"
    = f.select :op_type, options_for_select(@operation_types), {include_blank: "Select Option"}
  .field
    = f.label "Value"
    = f.text_field :op_value
  .field
    = f.label "Date"
    = f.date_select :op_date
  .actions
    = f.submit 'Save'
