.operations
  h1.operations
    | Listing previously made operations

  button.btn.btn-dark.btn-lg.active
    = link_to 'Make a new Transaction', new_operation_path

  table.table.table-striped.table-hover
    thead.thead-dark
      tr
        th.operations
          | Sender Agency
        th.operations
          | Sender Account
        th.operations
          | Receiver Agency
        th.operations
          | Receiver Account
        th.operations
          | Type
        th.operations
          | Value
        th.operations
          | Date
        th

    tbody
      - @operations.each do |operation|
        tr
          td.operations
            = operation.initial_account.agency.ag_number
          td.operations
            = operation.initial_account.acc_number
          - if operation.transfer?
            td.operations
              = operation.final_account.agency.ag_number
            td.operations
              = operation.final_account.acc_number
          - else
            td
            td
          td.operations
            = operation.op_type.capitalize
          td.operations
            = operation.op_value
          td.operations
            = operation.op_date
          td
            button.btn.btn-default
              = link_to 'Show', operation