p#notice = notice

p
  b Initial Bank Name:
  = @operation.initial_account.agency.bank.name_with_number
br
p
  b Initial Agency Number:
  = @operation.initial_account.agency.ag_number
br
p
  b Initial Account Number:
  = @operation.initial_account.acc_number
br
p
  b Initial Account Balance:
  = @operation.initial_account.acc_limit
br
- if @operation.transfer?
  p
    b Final Bank Name:
    = @operation.final_account.agency.bank.name_with_number
  br
  p
    b Final Agency Number:
    = @operation.final_account.agency.ag_number
  br
  p
    b Final Account Number:
    = @operation.final_account.acc_number
  br
  p
    b Final Account Balance:
    = @operation.final_account.acc_limit
  br

p
  b Operation type:
  = @operation.op_type.capitalize
br
p
  b Operation value:
  = @operation.op_value
br
p
  b Operation date:
  = @operation.op_date

/= link_to 'Edit', edit_operation_path(@operation)
/'|
= link_to 'Back', operations_path
