.container.col-lg-4.col-lg-offset-4
  h2
    | Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
      br
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up"
  = render "users/shared/links"
